{
  "env": {
    "es2020": true,
    "node": true,
    "mocha": true
  },
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "parserOptions": {
    "sourceType": "module"
  },
  "plugins": [
    "prettier"
  ]
}
